# === Arcane ===
ARCANE=/home/vlgoncalves/arcane/lilith

# === System ===
PUID=1000
PGID=1000

# === Paths ===
# Absolute path to the synced folder on the host
VAULT_PATH=/home/vlgoncalves/path/to/vault
