# === Arcane ===
ARCANE=/home/vlgoncalves/arcane/asmodeus

# === Images ===
MONGO_IMAGE=mongo
MONGO_VERSION=8.0
REDIS_IMAGE=redis:7-alpine
OVERLEAF_IMAGE=sharelatex/sharelatex
OVERLEAF_VERSION=latest
