COMPOSE_PROJECT_NAME=playground
VERSION=latest

USER=devel
UID=1000
GID=1000

ARCANE=/home/vlgoncalves/arcane/lilith

JUPYTER_PORT=8888
JUPYTER_TOKEN=changeme

CODE_SERVER_PORT=8443
CODE_SERVER_PASSWORD=changeme
