ARCANE_DIR=/path/to/arcane/lilith/
COMPOSE_PROJECT_NAME=SOMEPROJECTNAME
APP_URL=http://localhost:3552
PUID=1000
PGID=1000
ENCRYPTION_KEY=(generate with openssl rand -hex 32)
JWT_SECRET=(generate with openssl rand -hex 32)
